---
import FormIcono from "@/assets/svg_icon/form.svg";
import IGIcono from "@/assets/svg_icon/ig.svg";
import MailIcono from "@/assets/svg_icon/mail.svg";
---

<!-- FOOTER? -->
<footer class="border-t p-6">
  <div class="w-full flex justify-between h-full z-9999">
    <button
      class="z-9999 cursor-pointer transition-transform duration-300 ease-in-out hover:scale-110"
    >
      <a href="/formulario" target="" rel="noopener noreferrer"
        ><FormIcono class="w-15 h-15" />
      </a>
    </button>
    <button
      class="z-9999 cursor-pointer transition-transform duration-300 ease-in-out hover:scale-110"
    >
      <a
        href="https://www.instagram.com/lllit_3/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <IGIcono class="w-15 h-15" />
      </a>
    </button>
    <button
      class="z-9999 cursor-pointer transition-transform duration-300 ease-in-out hover:scale-110"
    >
      <a href="mailto:lit.io30303@gmail.com">
        <MailIcono class="w-15 h-15" />
      </a>
    </button>
  </div>
</footer>
