---
const { LET } = Astro.props;
---

<!-- Secion 2 -->
<section id="section2" class="h-screen relative w-full">
  <header class="flex justify-between w-full px-6" id="header_let_logo">
    <img
      src={LET.src}
      alt="Logo"
      class="w-33 h-33 md:w-30 md:h-30 opacity-0 object-contain"
      id="logo_header"
    />
  </header>
  <main class="relative w-full h-full overflow-hidden opacity-0" id="section2">
    <div class="flex flex-col w-full h-full mt-0 ">
      <p class="text-[1.5rem] tracking-wide mb-2 px-6" id="parrafo">
        LLL es un proyecto de visuales en vivo que busca crear una experiencia
        inmersiva y única a través de la combinación de música, tecnología y
        arte visual.
      </p>
      <div class="grid md:grid-cols-3 sm:grid-cols-2 grid-cols-1 w-full h-full">
        <video
          src="https://6bq1d1k7on.ufs.sh/f/78XjxKUMCV2aC50w8NZ0SKExydXnOsaHh5Zopf4cBJtAg2P7"
          muted
          autoplay
          playsinline
          preload="auto"
          class="object-cover w-full rounded-lg shadow-md"
          loop></video>
        <video
          src="https://6bq1d1k7on.ufs.sh/f/78XjxKUMCV2ag1LBNhrt3qTU4aZw7euztsYHd1IlBPGERhKF"
          muted
          autoplay
          playsinline
          preload="auto"
          class="object-cover w-full rounded-lg shadow-md"
          loop></video>
        <video
          src="https://6bq1d1k7on.ufs.sh/f/78XjxKUMCV2amAJhlfGAxW3d57FVvqbwz08cf4ohSyauM9G1"
          muted
          autoplay
          playsinline
          preload="auto"
          class="object-cover w-full rounded-lg shadow-md"
          loop></video>
      </div>
    </div>
  </main>
</section>

<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  import SplitType from "split-type";

  gsap.registerPlugin(ScrollTrigger);

  gsap.from("#logo_header", { x: 100, duration: 1 });

  const parrafo = new SplitType("#parrafo", { types: "words,chars" });

  parrafo.chars.forEach((char, index) => {
    let chatsT2 = gsap.timeline();

    char.addEventListener("mouseenter", () => {
      gsap.to(char, {
        color: `rgb(${gsap.utils.random(0, 255)},${gsap.utils.random(
          0,
          255
        )},${gsap.utils.random(0, 255)})`,
      });
    });
  });
</script>
