<!-- Sección 3 -->
<section id="section3" class="min-h-screen w-full bg-[#111111] text-white">
  <main class="relative w-full opacity-0" id="section2">
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3">
      <video
        src="/src/assets/videos/dem4.mp4"
        muted
        autoplay
        playsinline
        preload="auto"
        class="object-cover w-full rounded-lg shadow-md"
        loop></video>
      <video
        src="/src/assets/videos/dem5.mp4"
        muted
        autoplay
        playsinline
        preload="auto"
        class="object-cover w-full rounded-lg shadow-md"
        loop></video>
      <video
        src="/src/assets/videos/dem6.mp4"
        muted
        autoplay
        playsinline
        preload="auto"
        class="object-cover w-full rounded-lg shadow-md"
        loop></video>
      <video
        src="/src/assets/videos/dem7.mp4"
        muted
        autoplay
        playsinline
        preload="auto"
        class="object-cover w-full rounded-lg shadow-md"
        loop></video>
      <video
        src="/src/assets/videos/dem8.mp4"
        muted
        autoplay
        playsinline
        preload="auto"
        class="object-cover w-full rounded-lg shadow-md"
        loop></video>
      <video
        src="/src/assets/videos/dem9.mp4"
        muted
        autoplay
        playsinline
        preload="auto"
        class="object-cover w-full rounded-lg shadow-md"
        loop></video>
      <video
        src="/src/assets/videos/dem10.mp4"
        muted
        autoplay
        playsinline
        preload="auto"
        class="object-cover w-full rounded-lg shadow-md"
        loop></video>
      <video
        src="/src/assets/videos/dem11.mp4"
        muted
        autoplay
        playsinline
        preload="auto"
        class="object-cover w-full rounded-lg shadow-md"
        loop></video>
      <video
        src="/src/assets/videos/dem12.mp4"
        muted
        autoplay
        playsinline
        preload="auto"
        class="object-cover w-full rounded-lg shadow-md"
        loop></video>
    </div>
  </main>
</section>
