<!-- Sección 3 -->
<section id="section3" class="min-h-screen w-full bg-[#111111] text-white">
  <main class="relative w-full opacity-0" id="section2">
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3">
        <video
          src="https://6bq1d1k7on.ufs.sh/f/78XjxKUMCV2ao5NjdlBxwDBNugMZPXJEvp0y4TAnQUIaYjmt"
          muted
          autoplay
          playsinline
          preload="metadata"
          class="object-cover w-full rounded-lg shadow-md"
          loop></video>
      <video
        src="https://6bq1d1k7on.ufs.sh/f/78XjxKUMCV2a6YRBfFpTWqZh3j5kzx6mfJDuHBOIb9vtK2lr"
        muted
        autoplay
        playsinline
        preload="auto"
        class="object-cover w-full rounded-lg shadow-md"
        loop></video>
      <video
        src="https://6bq1d1k7on.ufs.sh/f/78XjxKUMCV2abYalxJ80RB1iKWFEGymkutdJY7LCAVcD4sgS"
        muted
        autoplay
        playsinline
        preload="auto"
        class="object-cover w-full rounded-lg shadow-md"
        loop></video>
      <video
        src="https://6bq1d1k7on.ufs.sh/f/78XjxKUMCV2aEWreaub0JKQkeLYOzA3ZxBoNaDMimHPW6vCF"
        muted
        autoplay
        playsinline
        preload="auto"
        class="object-cover w-full rounded-lg shadow-md"
        loop></video>
      <video
        src="https://6bq1d1k7on.ufs.sh/f/78XjxKUMCV2aT8lIrODImSJkv0lXAEaKN3qpP7uBe624x5fh"
        muted
        autoplay
        playsinline
        preload="auto"
        class="object-cover w-full rounded-lg shadow-md"
        loop></video>
      <video
        src="https://6bq1d1k7on.ufs.sh/f/78XjxKUMCV2azs0h346HIoFm2gfGW4YuNn0xPvjUhreaS5J9"
        muted
        autoplay
        playsinline
        preload="auto"
        class="object-cover w-full rounded-lg shadow-md"
        loop></video>
      <video
        src="https://6bq1d1k7on.ufs.sh/f/78XjxKUMCV2a2DBOEadCVt6eklq5uzWX71SIwL9JP3DdEgjO"
        muted
        autoplay
        playsinline
        preload="auto"
        class="object-cover w-full rounded-lg shadow-md"
        loop></video>
      <video
        src="https://6bq1d1k7on.ufs.sh/f/78XjxKUMCV2akXbwQ1nVMZW4qPw0iTy8HOuYmAbcnzeBDCfI"
        muted
        autoplay
        playsinline
        preload="auto"
        class="object-cover w-full rounded-lg shadow-md"
        loop></video>
      <video
        src="https://6bq1d1k7on.ufs.sh/f/78XjxKUMCV2azQaAYZ6HIoFm2gfGW4YuNn0xPvjUhreaS5J9"
        muted
        autoplay
        playsinline
        preload="auto"
        class="object-cover w-full rounded-lg shadow-md"
        loop></video>
    </div>
  </main>
</section>
